<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>
      <ion-img src="././assets/logo.png" style="height: 50%; width: 50%;"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="dark">
  
  <ion-grid>
      <ion-col>
        <ion-row class="ion-justify-content-center" style="padding-top: 5rem;">
          <div>
            <ion-label>فضلا قم بتسجيل الدخول</ion-label>
          </div>
        </ion-row>
        <ion-row class="ion-justify-content-center" style="padding-top: 2rem;">
          <div>
            <ion-button color="mydark" routerLink="/login2">Login</ion-button>
          </div>
        </ion-row>
        <!-- <ion-row class="ion-justify-content-center" style="padding-top: 2rem;">
          <div>
            <ion-button color="mydark" routerLink="/list">List</ion-button>
          </div>
        </ion-row> -->
      </ion-col>
  </ion-grid>
  
</ion-content>
